<html>
  <head></head>
  <body>
    <h1>Artist</h1>
    <p>
      <h2>ID: <%= @artist.id %><br/> 
      NAME: <%= @artist.name %><br/> 
      GENRE: <%= @artist.genre %></h2>
    </p>
  </body>
</html>