<h1>This is the homepage</h1>

<h2><a href='/about'>Go to the about page</a></h2>

<!--- <html>
  <body>
    <% if @password == 'abcd' %>
      Hello!
    <% else %>
      Access Forbidden!
    <% end %>
  </body>
</html> --->